# Git
.git
.gitignore
.github

# Python
__pycache__
.pytest_cache
.coverage
htmlcov/
dist/
media/
staticfiles/
.DS_Store
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# Virtual Environment
.env.example
.venv
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
media/*
!media/sido_images/
staticfiles/*
